<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDFGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B61C4211E51EC0800164035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B61C4321E51EC0800164035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B61C43D1E51EC0900164035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
